*{
    margin: 0;
    padding: 0;
}
/* navigation */
#navbar{
    position: sticky;
    top:0;
    z-index: 10;

}
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li{
    padding: 0 10px;

}
.navbar-nav li a{
    float: right;
    text-align: left;
}

#navbar ul li a:hover{
    color: #007bff!important;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #4ee44d!important;
    font-weight: 600;
    font-size: 16px;
}
/* slider */
#slider{
    width: 100%;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5{
    color: #3e97d3;
    font-size: 50px;
}
.carousel-item img{
    filter: grayscale(6);
}

/* About */
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content{
    padding-top: 20px;
}
.skills-bar{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress{
    border-radius: 16px!important;
    margin-bottom: 20px;
}
.progress-bar{
    border-radius: 16px;
}

/* Services */

#service{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/eq4.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#service h1{
    text-align: center;
    color: #efefef!important;
}

#service h1::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 150px;
    margin: 20px auto 5px;
}
.service {
    margin-top: 40px;
}
.icon i {
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid;
    border-radius: 50%;
}
.icon p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.service .col-md-2:hover{
    background: #4ee44d;
    cursor: pointer;
    transition: 0.7s;
}
/* team */

#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
h1{
    text-align: center;
    color: #555;
    padding-bottom: 10px;
}

h1::after {
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.img-box img{
    width: 225px;
    height: 300px;
}

.profile-pic{
    margin-top: 25px;
}
.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img{
    filter: grayscale(1);
}
.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2{
   font-size: 22px;
   font-weight: bold;
   margin-top: 15px;
   color: #007bff; 
}
.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    /* color: #007bff!important; */
 }

 #team .fa{
    height: 25px;
    width: 25px;
    color: #007bff!important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
 }
 .img-box ul{
     padding: 15px 0;
     position: absolute;
     z-index: 2;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     opacity: 0;
 }
 .img-box ul li{
     padding: 5px;
     display: inline-block;
 }
 .img-box:hover ul{
     opacity: 1;
 }
 .img-box ul, .img-box ul li{
     transition: 0.5s;
 }
 /* promo */
 #promo{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/promo1.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 38px;
 }
 /* price plan */
 #price{
    padding: 40px 0;
    background: #ccc;
 }
 .single-price{
     margin: 10px auto;
     display: inline;
     float: left;
     width: 100%;
     background-color: #fff;
     transition: 0.5s;
 }
 .single-price:hover{
     box-shadow: 0 3px 20px #333;
 }

 .price-header{
     background-color: #2163f3;
     display: inline;
     float: left;
     padding: 10px 5px;
     text-align: center;
     width: 100%;
 }
 .price-header h2{
     color: #fff;
     font-size: 30px;
     font-weight: bold;
     margin-bottom: 5px;
     padding: 5px;
     text-transform: uppercase;
 }
 .price-header p{
     font-size: 25px;
     color: #ccc;
     font-weight: bold;
     line-height: 30px;
 }
 #price span{
    font-size: 15px;
 }
 .price-content{
     display: inline;
     float: left;
     width: 100%;
     padding: 0 15px;
 }
 .price-content ul li{
     border-bottom: 1px solid #efefef;
     padding: 15px 10px;
     list-style: none;
 }
 ul li:last-child{
     border: none;
 }
 .price-content .fa{
     margin-right: 10px;
     font-size: 20px;
    }
 .price-content .fa-check-circle{
    color: green;
 }
 .price-content .fa-times-circle{
    color: red;
 }
 .price-button{
     display: inline;
     float: left;
     padding: 15px 15px 30px;
     text-align: center;
     width: 100%;
 }
 .buy-btn{
     background-color: #2163f3;
     border-radius: 3px;
     display: inline-block;
     font-size: 20px;
     padding: 15px 50px;
     transition: 0.5s;
 }
 .buy-btn:hover{
     border: 1px solid #fff;
     background-color: #3f51b5;
 }
 .price-button a{
     text-decoration: none!important;
     color: #fff!important;
 }
 /* testimonials */
 #testimonials{
     padding-top: 50px;
     padding-bottom: 50px;
 }
 #testimonials .profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
 }

 #testimonials .row{
     margin-top: 30px;
 }

 .col-md-4{
     margin: 40px auto;
 }
 .profile{
     padding: 70px 10px 10px;
     background-color: #efefef;
 }
 
 .profile img{
     top: -60px;
     position: absolute;
     left: calc(50% - 60px);
     border: 10px solid #fff;
 }
 .profile h3{
     font-size: 20px;
     margin-top: 15px;
     color: #007bff;
 }

 #testimonials span{
     font-size: 12px;
     color: #333;
 }
 blockquote{
     font-size: 16px;
     line-height: 30px;
 }
 blockquote::before{
    content: '\00AB';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -10px;
    right: 5px;
}
blockquote::after{
    content: '\00BB';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -10px;
    left: 5px;
}
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
#contact{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0!important;
    border: none!important;
}
::placeholder{
    color: #999 !important;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
/* footer */
#footer{
    background: #333;
    color: #fff;
    padding: 12px;
}
.fa-heart-o{
    margin: 3px;
    color: red;
}